body {
    background-color:burlywood;
    background-image: url("../images/background/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
