{% extends 'football/base.html' %}
{% load static %}
{% block title %}
    <title>Fist hand News</title>
{% endblock %}
{% block header %}
    <!-- Page Header -->
      <header class="masthead" style="background-image: url('{% static 'football/img/news.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h2></h2>
                <h3 class="subheading"></h3>
              </div>
            </div>
          </div>
        </div>
      </header>
{% endblock %}
{% block body %}
 <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for news in news %}
            <div class="post-preview">
              <a href="{% url 'football:news_details' news.slug %}">
                <h2 class="post-title">{{ news.title }}
                </h2><h5 class='subheading'>({{ news.Category.all }})</h5>
                <h3 class="post-subtitle">
                    {{ news.description|truncatewords:20 }}
                </h3>
              </a>
              <p class="post-meta">Posted by:
                <br>Published:
                {{ news.published }}</p>
            </div>
            <hr>
          {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}